# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/
/target/

input.txt
/article/assets/image-01.png
/article/assets/image-02.png
/article/assets/image-03.png
/article/assets/image-04.png
/article/assets/image-05.png
/article/assets/image-06.png
/article/assets/image-07.png
/article/assets/image-08.png
/article/assets/image-09.png
/article/assets/image-10.png
/article/assets/image-11.png
/article/assets/image-12.png
/article/assets/image-13.png
/article/assets/image-14.png
/article/assets/image-15.png
/article/assets/image-16.png
/article/assets/image-17.png
/article/assets/image-18.png
/article/assets/image-19.png
/article/assets/image-20.png
/article/assets/image-21.png
/article/assets/image-22.png
/article/java-faceted-full-text-search-api-using-mongodb-atlas-search.md
/Data/
